# CD asset staging directory
.cdk.staging
cdk.out
# Project exclude paths
/.gradle/
/build/
/build/classes/kotlin/main/
/MarkdownProcessor/build/
/MarkdownProcessor/build/classes/kotlin/main/
/MarkdownProcessor/build/classes/kotlin/test/
/SharedModels/build/libs/SharedModels-0.0.1.jar
FileUploadHandler/gradle/wrapper/gradle-wrapper.properties
.idea/sonarlint-state.xml
.idea/sonarlint.xml
.idea/sonarlint/
.idea/modules/
API/.gradle/
API/build/
FileUploadHandler/.gradle/
FileUploadHandler/build/
SharedModels/build/
TemplateProcessor/build/
/htmlReport/
/.idea/kotlinc.xml
/.idea/aws.xml
/.idea/bigdataide_settings.xml
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/Cantilever.iml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/modules.xml
/DevDiary/statics/css/pico-1.5.10/
/.idea/inspectionProfiles/Project_Default.xml
/OpenAPISchemaGenerator/build/
/OpenAPISchemaAnnotations/build/
/ImageProcessor/build/
/MarkdownProcessor/.gradle/
ImageProcessor/.gradle/*
Web/node_modules/*
/DevDiary/*
TemplateProcessor/.gradle/*
Web/build/*