---
name: 404
sections:
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="{{author}}">
    <meta name="generator" content="cantilevers">
    <title>{{ project.projectName }} - Page not found</title>
    <link rel="stylesheet" href="/css/pico.min.css">
</head>
<body>
<h1>Page not found. Oops.</h1>
</body>
</html>